
             <strong >We are currently recruiting: </strong><br/><br/>
  <div class="class_icons_admin">
            <div class="deathknight_icons">
              <img alt="dk icon" src=<%= asset_path 'class_icons/deathknight/deathknight.jpg' %> id="deathknight_class_icon" />&nbsp;&nbsp;&nbsp;
              <img alt="" src=<%= asset_path 'class_icons/deathknight/blood.jpg' %> id="deathknight_blood_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/deathknight/frost.jpg' %> id="deathknight_frost_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/deathknight/unholy.jpg' %> id="deathknight_unholy_spec"/><br/>
            </div>
            <div class="demonhunter_icons">
              <img alt="dh icon" src=<%= asset_path 'class_icons/demonhunter/demonhunter.jpg' %> id="demonhunter_class_icon" />&nbsp;&nbsp;&nbsp;
              <img alt="" src=<%= asset_path 'class_icons/demonhunter/havoc.jpg' %> id="demonhunter_havoc_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/demonhunter/vengeance.jpg' %> id="demonhunter_vengeance_spec" /><br />
            </div>
            <div class="druid_icons">
			    <img alt="druid icon" src=<%= asset_path 'class_icons/druid/druid.jpg' %>  id="druid_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/druid/balance.jpg'%> id="druid_balance_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/druid/feral.jpg'%> id="druid_feral_spec" />
                <img alt="" src=<%= asset_path 'class_icons/druid/guardian.jpg'%> id="druid_guardian_spec" />
                <img alt="" src=<%= asset_path 'class_icons/druid/restoration.jpg'%> id="druid_restoration_spec"/><br /> 
            </div>
            <div class="hunter_icons">
                <img alt="hunter icon" src=<%= asset_path 'class_icons/hunter/hunter.jpg'%>  id="hunter_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/hunter/beastmastery.jpg'%> id="hunter_beastmastery_spec" />
                <img alt="" src=<%= asset_path 'class_icons/hunter/marksmanship.jpg'%> id="hunter_marksmanship_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/hunter/survival.jpg'%> id="hunter_survival_spec" /><br />
            </div>
            <div class="mage_icons">
                <img alt="mage icon" src=<%= asset_path 'class_icons/mage/mage.jpg' %> id="mage_class_icon"/>&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/mage/arcane.jpg'%> id="mage_arcane_spec" />
                <img alt="" src=<%= asset_path 'class_icons/mage/fire.jpg'%> id="mage_fire_spec" />
                <img alt="" src=<%= asset_path 'class_icons/mage/frost.jpg'%> id="mage_frost_spec" /><br />
            </div>
            <div class="monk_icons">
                <img alt="monk icon" src=<%= asset_path 'class_icons/monk/monk.jpg' %> id="monk_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/monk/brewmaster.jpg'%> id="monk_brewmaster_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/monk/windwalker.jpg'%> id="monk_windwalker_spec" />
                <img alt="" src=<%= asset_path 'class_icons/monk/mistweaver.jpg'%> id="monk_mistweaver_spec"/><br />
            </div>
            <div class="paladin_icons">
                <img alt="paladin icon" src=<%= asset_path 'class_icons/paladin/paladin.jpg'%>  id="paladin_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/paladin/holy.jpg'%> id="paladin_holy_spec" />
                <img alt="" src=<%= asset_path 'class_icons/paladin/protection.jpg'%> id="paladin_protection_spec" />
                <img alt="" src=<%= asset_path 'class_icons/paladin/retribution.jpg'%> id="paladin_retribution_spec" /><br />
            </div>
            <div class="priest_icons">
                <img alt="priest icon" src=<%= asset_path 'class_icons/priest/priest.jpg' %>  id="priest_class_icon"  />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/priest/discipline.jpg'%> id="priest_discipline_spec" />
                <img alt="" src=<%= asset_path 'class_icons/priest/holy.jpg'%> id="priest_holy_spec" />
                <img alt="" src=<%= asset_path 'class_icons/priest/shadow.jpg'%> id="priest_shadow_spec"  /><br />
            </div>
            <div class="rogue_icons">
                <img alt="rogue icon" src=<%= asset_path 'class_icons/rogue/rogue.jpg'%>  id="rogue_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/rogue/assassination.jpg'%> id="rogue_assassination_spec"  />
                <img alt="" src=<%= asset_path 'class_icons/rogue/outlaw.jpg'%> id="rogue_outlaw_spec" />
                <img alt="" src=<%= asset_path 'class_icons/rogue/subtlety.jpg'%> id="rogue_subtlety_spec" /><br />
            </div>
            <div class="shaman_icons">
                <img alt="shaman icon" src=<%= asset_path 'class_icons/shaman/shaman.jpg'%>  id="shaman_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/shaman/elemental.jpg'%> id="shaman_elemental_spec" />
                <img alt="" src=<%= asset_path 'class_icons/shaman/enhancement.jpg'%> id="shaman_enhancement_spec"  />
                <img alt="" src=<%= asset_path 'class_icons/shaman/restoration.jpg'%> id="shaman_restoration_spec" /><br />
            </div>
            <div class="warlock_icons">
                <img alt="warlock icon" src=<%= asset_path 'class_icons/warlock/warlock.jpg'%>  id="warlock_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/warlock/affliction.jpg'%> id="warlock_affliction_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warlock/demonology.jpg'%> id="warlock_demonology_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warlock/destruction.jpg'%> id="warlock_destruction_spec" /><br />
            </div>
            <div class="warrior_icons">
                <img alt="warrior icon" src=<%= asset_path 'class_icons/warrior/warrior.jpg'%> id="warrior_class_icon" />&nbsp;&nbsp;&nbsp;
                <img alt="" src=<%= asset_path 'class_icons/warrior/arms.jpg'%> id="warrior_arms_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warrior/fury.jpg'%> id="warrior_fury_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warrior/protection.jpg'%> id="warrior_protection_spec"  /><br />
            </div>
            <br/>
            <%= form_for(@recruitment,url: { controller: 'recruitment', action: 'update'}) do |f| %>
                <%= f.hidden_field :setting %>
                <div class="submit-field">
                    <%= f.submit "Update recruitment", class: "btn btn-outline-success",id: 'submit-update' %>
                </div>
            <% end %>
    </div>