</br>
<% if true %>
    <div class="row">
      <% @roster.each do |member| %>

        <div class="col-sm-3">
          <div class="card text-xs-center cc-<%= player_class_is(member.player_class).downcase.gsub(/\s+/, "") %>">
          <div class="card-block">
          <img src="<%= asset_path("#{member.role}.png")%>" style="position: absolute; width: 40px; height: 40px; bottom: 20px;"  class="float-left img-responsive" ></img> 
            <img style="padding-right: 5px;" class="float-left" src="https://render-us.worldofwarcraft.com/character/<%= member.thumbnail_link %>" onError="this.onerror=null;this.src='<%= asset_path("no-avatar.jpg")%>';" >       
            <h5 style="color:black"><%= member.player_name %></h5> 
            <a target="_blank" rel="noopener noreferrer" href="https://worldofwarcraft.com/en-us/character/frostmourne/<%= member.player_name %>"><img src="<%= asset_path("armory.png")%>" style="width: 34px; height: 34px;"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.wowprogress.com/character/us/frostmourne/<%= member.player_name %>"><img src="<%= asset_path("wowprog.png")%>" style="width: 34px; height: 34px;"></a>
          </div>
        </div>
        </div>
        <% end %>
     </div>

     <% end %>