      <div class="row">
        <ul class="users">
        <% @applications.each do |application| %>
            <li>
                <%= link_to application.player_name, playerapplication_path(application, viewkey: application.viewkey)    %> | <%= link_to "delete", application, method: :delete,
                    data: { confirm: "You sure?" } %></br>
                Class: <%= application.player_class %> </br>
                Spec: <%= application.player_mainspec %>
            </li>
        <% end %>
        </ul>
        
        </div>
      
      <%= paginate @applications %>