<h2><p>Application Details:</p></h2>
<p><strong>Battle.net:</strong> <%= @application.player_battlenettag %>
<br>

<strong>Warcraft Logs:</strong>
<% @application.links_warcraftlogs.each do |link| %>
<br/><%= link_to link, link,target: "_blank",rel: "noopener noreferrer"%>
<% end %>
<br/>
<strong>WoW Progress:</strong>
<% @application.links_wowprogress.each do |link| %> <br/>
<%= link_to link, link,target: "_blank",rel: "noopener noreferrer" %>
<% end %>
</p>
<p>
<strong>Name:</strong> <%= @application.player_name %>
<br>
<strong>Class:</strong> <%= @application.player_class %>
<br>
</p>
<p>
<strong>Main spec:</strong> <%= @application.player_mainspec %>
<br>
<strong>Main spec Artifact Level:</strong> <%= @application.player_mainspec_awt %>
</p>
<p><strong>Off Spec:</strong> <%= @application.player_offspec %>
<br>
<strong>Off Spec Artifact Level: </strong><%= @application.player_offspec_awt %>
<br><br>
<strong>How confident are you in your offspec performance?:</strong>
</br>
<%= @application.player_offspec_confidence%>
</br></br>
<strong>Do you have any alts?:</strong></br>
<%= @application.player_alts %>
</p><p>
<strong>How do you stay up to date on your class? what sources do you use for theorycrafting?:</strong></br>
<%= @application.question_theorycraft %>
</p><br>
<p>
<strong>Why you? What makes you unique What will you bring to remorse?:</strong><br>
<%= @application.question_whyyou %>
</p>
<br>
<p>
<strong>Why Remorse? What makes you want to join us?:</strong><br>
<%= @application.question_whyremorse %>
</p>
<br>
<p>
<strong>Anything else?:</strong><br>
<%= @application.question_anythingelse %>
</p><br><br>
