    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <%= link_to "Remorse",    root_path,class: 'navbar-brand' %>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <%= link_to 'Apply', apply_path, class: 'nav-link'%>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.warcraftlogs.com/guilds/253726" target="_blank" rel="noopener noreferrer">Guild Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.wowprogress.com/guild/us/frostmourne/Remorse" target="_blank" rel="noopener noreferrer">WoW Progress</a>
                    </li>
                    <% if logged_in? %> 
                    <% if current_user.admin? || current_user.dev? %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% if current_user.dev? %>
                                <%= link_to "Admin", admin_root_path, class: 'dropdown-item' %>
                                <div class="dropdown-divider"></div>
                            <% end %>
                            <%= link_to 'All posts', page_path,class: 'dropdown-item' %>
                            <%= link_to 'New post', posts_path,class: 'dropdown-item '%>
                            <div class="dropdown-divider"></div>
                            <%= link_to "Sign out", logout_path, class: 'dropdown-item', method: 'delete' %>
                            </div>
                    </li>
                    <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
