         <%= link_to 'Submit Application', apply_path, class: 'btn btn-outline-warning'%>
         <br/><br/>
  <div class="class_icons ">
  <strong >We are currently recruiting: </strong><br/><br/>
            <div class="deathknight_icons class_icons_hidden">
              Death Knight:</br>
              <img alt="" src=<%= asset_path 'class_icons/deathknight/blood.jpg' %> id="deathknight_blood_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/deathknight/frost.jpg' %> id="deathknight_frost_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/deathknight/unholy.jpg' %> id="deathknight_unholy_spec"/><br/>
            </div>
            <div class="demonhunter_icons class_icons_hidden">
              Death Knight:</br>
              <img alt="" src=<%= asset_path 'class_icons/demonhunter/demonhunter.jpg' %> id="demonhunter_class_icon" />
              <img alt="" src=<%= asset_path 'class_icons/demonhunter/havoc.jpg' %> id="demonhunter_havoc_spec"/>
              <img alt="" src=<%= asset_path 'class_icons/demonhunter/vengeance.jpg' %> id="demonhunter_vengeance_spec" /><br />
            </div>
            <div class="druid_icons class_icons_hidden">
			    Druid:</br>
                <img alt="" src=<%= asset_path 'class_icons/druid/balance.jpg'%> id="druid_balance_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/druid/feral.jpg'%> id="druid_feral_spec" />
                <img alt="" src=<%= asset_path 'class_icons/druid/guardian.jpg'%> id="druid_guardian_spec" />
                <img alt="" src=<%= asset_path 'class_icons/druid/restoration.jpg'%> id="druid_restoration_spec"/><br /> 
            </div>
            <div class="hunter_icons class_icons_hidden">
                Hunter:</br>
                <img alt="" src=<%= asset_path 'class_icons/hunter/beastmastery.jpg'%> id="hunter_beastmastery_spec" />
                <img alt="" src=<%= asset_path 'class_icons/hunter/marksmanship.jpg'%> id="hunter_marksmanship_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/hunter/survival.jpg'%> id="hunter_survival_spec" /><br />
            </div>
            <div class="mage_icons class_icons_hidden">
                Mage:</br>
                <img alt="" src=<%= asset_path 'class_icons/mage/arcane.jpg'%> id="mage_arcane_spec" />
                <img alt="" src=<%= asset_path 'class_icons/mage/fire.jpg'%> id="mage_fire_spec" />
                <img alt="" src=<%= asset_path 'class_icons/mage/frost.jpg'%> id="mage_frost_spec" /><br />
            </div>
            <div class="monk_icons class_icons_hidden">
                Monk:</br>
                <img alt="" src=<%= asset_path 'class_icons/monk/brewmaster.jpg'%> id="monk_brewmaster_spec"/>
                <img alt="" src=<%= asset_path 'class_icons/monk/windwalker.jpg'%> id="monk_windwalker_spec" />
                <img alt="" src=<%= asset_path 'class_icons/monk/mistweaver.jpg'%> id="monk_mistweaver_spec"/><br />
            </div>
            <div class="paladin_icons class_icons_hidden">
                Paladin:</br>
                <img alt="" src=<%= asset_path 'class_icons/paladin/holy.jpg'%> id="paladin_holy_spec" />
                <img alt="" src=<%= asset_path 'class_icons/paladin/protection.jpg'%> id="paladin_protection_spec" />
                <img alt="" src=<%= asset_path 'class_icons/paladin/retribution.jpg'%> id="paladin_retribution_spec" /><br />
            </div>
            <div class="priest_icons class_icons_hidden">
                Priest:</br>
                <img alt="" src=<%= asset_path 'class_icons/priest/discipline.jpg'%> id="priest_discipline_spec" />
                <img alt="" src=<%= asset_path 'class_icons/priest/holy.jpg'%> id="priest_holy_spec" />
                <img alt="" src=<%= asset_path 'class_icons/priest/shadow.jpg'%> id="priest_shadow_spec"  /><br />
            </div>
            <div class="rogue_icons class_icons_hidden">
                Rogue:</br>
                <img alt="" src=<%= asset_path 'class_icons/rogue/assassination.jpg'%> id="rogue_assassination_spec"  />
                <img alt="" src=<%= asset_path 'class_icons/rogue/outlaw.jpg'%> id="rogue_outlaw_spec" />
                <img alt="" src=<%= asset_path 'class_icons/rogue/subtlety.jpg'%> id="rogue_subtlety_spec" /><br />
            </div>
            <div class="shaman_icons class_icons_hidden">
                Shaman:</br>
                <img alt="" src=<%= asset_path 'class_icons/shaman/elemental.jpg'%> id="shaman_elemental_spec" />
                <img alt="" src=<%= asset_path 'class_icons/shaman/enhancement.jpg'%> id="shaman_enhancement_spec"  />
                <img alt="" src=<%= asset_path 'class_icons/shaman/restoration.jpg'%> id="shaman_restoration_spec" /><br />
            </div>
            <div class="warlock_icons class_icons_hidden">
                Warlock:</br>
                <img alt="" src=<%= asset_path 'class_icons/warlock/affliction.jpg'%> id="warlock_affliction_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warlock/demonology.jpg'%> id="warlock_demonology_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warlock/destruction.jpg'%> id="warlock_destruction_spec" /><br />
            </div>
            <div class="warrior_icons class_icons_hidden">
                Warrior:</br>
                <img alt="" src=<%= asset_path 'class_icons/warrior/arms.jpg'%> id="warrior_arms_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warrior/fury.jpg'%> id="warrior_fury_spec" />
                <img alt="" src=<%= asset_path 'class_icons/warrior/protection.jpg'%> id="warrior_protection_spec"  /><br />
            </div>
            <br/>
 
    </div>
